In [1]:
import pandas as pd

In [6]:
olympic_data_list={"Hostcity":["London","Beijing","Athens","Sydney","Atlanta"],"Year":[2012,2008,2004,2000,1996],
                   "No of Participating Countries":[205,204,201,200,197]}

In [7]:
olympic_data_list

{'Hostcity': ['London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'],
 'No of Participating Countries': [205, 204, 201, 200, 197],
 'Year': [2012, 2008, 2004, 2000, 1996]}

In [8]:
df_olympic_data=pd.DataFrame(olympic_data_list)

In [9]:
df_olympic_data

  Hostcity  No of Participating Countries  Year
0   London                            205  2012
1  Beijing                            204  2008
2   Athens                            201  2004
3   Sydney                            200  2000
4  Atlanta                            197  1996