In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("middle_tn_schools.csv")

In [3]:
df.shape

(347, 15)

In [7]:
df.head()

,name,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,school_type,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
0,Allendale Elementary School,5,851,10,90.2,95.8,15.7,Public,89.4,85.2,54,2.9,85.5,1.6,5.6
1,Anderson Elementary,2,412,71,32.8,37.3,12.8,Public,43.0,38.3,32,3.9,86.7,1.0,4.9
2,Avoca Elementary,4,482,43,78.4,83.6,16.6,Public,75.7,73.0,29,1.0,91.5,1.2,4.4
3,Bailey Middle,0,394,91,1.6,1.0,13.1,Public Magnet,2.1,4.4,30,80.7,11.7,2.3,4.3
4,Barfield Elementary,4,948,26,85.3,89.2,14.8,Public,81.3,79.6,64,11.8,71.2,7.1,6.0

In [5]:
df.describe()

,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
count,347.000000,347.000000,347.000000,347.000000,341.000000,347.000000,341.000000,347.000000,347.000000,347.000000,347.000000,347.000000,347.000000
mean,2.968300,699.472622,50.279539,58.801729,58.249267,15.461671,57.004692,57.049856,44.939481,21.197983,61.673487,2.642651,11.164553
std,1.690377,400.598636,25.480236,32.540747,32.702630,5.725170,26.696450,27.968974,22.053386,23.562538,27.274859,3.109629,12.030608
min,0.000000,53.000000,2.000000,0.200000,0.600000,4.700000,1.500000,0.100000,2.000000,0.000000,1.100000,0.000000,0.000000
25%,2.000000,420.500000,30.000000,30.950000,27.100000,13.700000,37.600000,37.000000,30.000000,3.600000,40.600000,0.750000,3.800000
50%,3.000000,595.000000,51.000000,66.400000,65.800000,15.000000,61.800000,60.700000,40.000000,13.500000,68.700000,1.600000,6.400000
75%,4.000000,851.000000,71.500000,88.000000,88.600000,16.700000,79.600000,80.250000,54.000000,28.350000,85.950000,3.100000,13.800000
max,5.000000,2314.000000,98.000000,99.800000,99.800000,111.000000,99.000000,98.900000,140.000000,97.400000,99.700000,21.100000,65.200000

In [12]:
df[["reduced_lunch","school_rating"]].groupby(["school_rating"]).describe().unstack

<bound method DataFrame.unstack of                      reduced_lunch
school_rating
0             count      43.000000
              mean       83.581395
              std         8.813498
              min        53.000000
              25%        79.500000
              50%        86.000000
              75%        90.000000
              max        98.000000
1             count      40.000000
              mean       74.950000
              std        11.644191
              min        53.000000
              25%        65.000000
              50%        74.500000
              75%        84.250000
              max        98.000000
2             count      44.000000
              mean       64.272727
              std        11.956051
              min        37.000000
              25%        54.750000
              50%        62.500000
              75%        74.000000
              max        88.000000
3             count      56.000000
              mean       50.285714
              std        13.550866
              min        24.000000
              25%        41.000000
              50%        48.500000
              75%        63.000000
              max        78.000000
4             count      86.000000
              mean       41.000000
              std        16.681092
              min         4.000000
              25%        30.000000
              50%        41.500000
              75%        50.000000
              max        87.000000
5             count      78.000000
              mean       21.602564
              std        17.651268
              min         2.000000
              25%         8.000000
              50%        19.000000
              75%        29.750000
              max        87.000000>

In [13]:
df[["reduced_lunch","school_rating"]].corr()

               reduced_lunch  school_rating
reduced_lunch       1.000000      -0.815757
school_rating      -0.815757       1.000000