In [1]:
import pandas as pd

In [9]:
df_adv_data=pd.read_csv("Advertising.csv",index_col=0)

In [10]:
df_adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [11]:
df_adv_data.size

800

In [15]:
df_adv_data.shape

(200, 4)

In [16]:
df_adv_data.columns

Index([u'TV Ad Budget ($)', u'Radio Ad Budget ($)', u'Newspaper Ad Budget ($)',
       u'Sales ($)'],
      dtype='object')

In [18]:
x_feature=df_adv_data[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [19]:
x_feature.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [20]:
y_target=df_adv_data[['Sales ($)']]

In [21]:
y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [22]:
x_feature.shape

(200, 3)

In [23]:
y_target.shape

(200, 1)

In [25]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_feature,y_target, random_state=1)

In [31]:
print x_train.shape
print y_train.shape
print x_test.shape
print y_test.shape

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [32]:
x_train.head()

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
99              289.7                 42.3                     51.2
124             123.1                 34.6                     12.4
120              19.4                 16.0                     22.3
54              182.6                 46.2                     58.7
34              265.6                 20.0                      0.3

In [35]:
#lineear regression model
from sklearn.linear_model import LinearRegression
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
print linreg.intercept_
print linreg.coef_

[ 2.87696662]
[[ 0.04656457  0.17915812  0.00345046]]

In [38]:

y_pred=linreg.predict(x_test)
print y_pred

[[ 21.70910292]
 [ 16.41055243]
 [  7.60955058]
 [ 17.80769552]
 [ 18.6146359 ]
 [ 23.83573998]
 [ 16.32488681]
 [ 13.43225536]
 [  9.17173403]
 [ 17.333853  ]
 [ 14.44479482]
 [  9.83511973]
 [ 17.18797614]
 [ 16.73086831]
 [ 15.05529391]
 [ 15.61434433]
 [ 12.42541574]
 [ 17.17716376]
 [ 11.08827566]
 [ 18.00537501]
 [  9.28438889]
 [ 12.98458458]
 [  8.79950614]
 [ 10.42382499]
 [ 11.3846456 ]
 [ 14.98082512]
 [  9.78853268]
 [ 19.39643187]
 [ 18.18099936]
 [ 17.12807566]
 [ 21.54670213]
 [ 14.69809481]
 [ 16.24641438]
 [ 12.32114579]
 [ 19.92422501]
 [ 15.32498602]
 [ 13.88726522]
 [ 10.03162255]
 [ 20.93105915]
 [  7.44936831]
 [  3.64695761]
 [  7.22020178]
 [  5.9962782 ]
 [ 18.43381853]
 [  8.39408045]
 [ 14.08371047]
 [ 15.02195699]
 [ 20.35836418]
 [ 20.57036347]
 [ 19.60636679]]

In [40]:
from sklearn import metrics
import numpy as np

In [41]:
print np.sqrt(metrics.mean_squared_error(y_test,y_pred))

1.40465142303